@import '../../styles/defaults.scss';

.navBarWrapper {
    .navBarPrimaryToggle {
        display: block;
        position: relative;
        top: 25px;
        left: 25px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;

        & a {
            text-decoration: none;
            color: $text;
            transition: color 0.3s ease;
            padding-top: 40px;

            &:hover{
                color: lightgreen;
            }
            &:active{
                color: $accent;
            }
        }
        & input {
            display: block;
            width: 40px;
            height: 32px;
            position: absolute;
            top: -7px;
            left: -5px;
            cursor: pointer;
            opacity: 0;
            z-index: 2;
            -webkit-touch-callout: none;
        }

        & span {
            display: block;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;
            background: $text;
            border-radius: 3px;
            z-index: 1;
            transform-origin: 4px 0px;
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            opacity 0.55s ease;
            &:first-child {
                transform-origin: 0% 0%;
            }
            &:nth-last-child(2){
                transform-origin: 0% 100%;
            }
        }

        & input:checked ~ span {
            opacity: 1;
            transform: rotate(45deg) translate(-2px, -1px);
            background: $text;
        }
        & input:checked ~ span:nth-last-child(3)
        {
            opacity: 0;
            transform: rotate(0deg) scale(0.2,0.2);
        }
        & input:checked ~ span:nth-last-child(2)
        {
            transform: rotate(-45deg) translate(0, -1px);
        }
        & input:checked ~ ul {
            transform: none;
        }
    }
    .navBarPrimaryMenu {
        position: absolute;
        width: 100px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-left: 70px;
        padding-top: 100px;

        color: $text;
        background: $dominant;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;

        transform-origin: 0% 0%;
        transform: translate(-100%, 0);

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

        & > li {
            padding-left: 10px;
            font-size: 22px;
        }

        border-right-width: 2px;
        border-right-color: $accent;
        border-right-style: groove;
        border-bottom-right-radius: 10px;
        border-bottom-width: 2px;
        border-bottom-color: $accent;
        border-bottom-style: groove;

        box-shadow: 0px 0px 20px 7px $accent;
    }
}