@import "../../styles/defaults.scss";
@import "./keyframes.scss";

.imageHero-container {
  pointer-events: none;
    z-index: 3;
    position: absolute;
    
    transform: translate(-50%, -50%);
    
    top: 40%;
    left: 50%;
    
    text-align: center;
    
    margin: auto;
    
    overflow-x: hidden;
    overflow-y: hidden;
    .glitch {
        color: rgb(223, 191, 191);
        font-size: 10rem;
        font-family: spantaran;
        margin-top: 150px;
        margin-bottom: 100px;
        margin-right:  200px;
        margin-left:  200px;
        animation: glitch 5s 5s infinite;
        &::before {
          content: attr(data-text);
          position: absolute;
          left: -2px;
          text-shadow: -5px 0 magenta;
          overflow-x: hidden;
          overflow-y: hidden;
          top: 0;
          animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
        }
        &::after {
          content: attr(data-text);
          position: absolute;
          left: 2px;
          text-shadow: -5px 0 lightgreen;
          overflow-x: hidden;
          overflow-y: hidden;
          top: 0;
          animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
        }
      }
    .glow {
        @extend .glitch;
        top: 0;
        left: 0; 
        position: absolute;
        text-shadow: 0 0 100px rgb(223, 191, 191);
        color: transparent;
    }
    .subtitle {
        font-family: 'rainyhearts';
        font-weight: 150;
        font-size: 1rem;
        color: $primary-white;
        text-transform: uppercase;
        letter-spacing: 2em;
    }
  }